# EBC Linux Driver
CONFIG_ROCKCHIP_EBC_LINUX=y
CONFIG_EBC_USE_MULTI_THREAD=y
CONFIG_EBC_USE_DRM=y
CONFIG_EBC_TPS65185_SENSOR=y
CONFIG_EBC_SY7636A_PMIC=y
CONFIG_EBC_SY7673A_PMIC=y

# Charger
CONFIG_CHARGER_SC89601=y
CONFIG_CHARGER_SC89890=y
CONFIG_ROCKCHIP_CHARGER_MANAGER=y
CONFIG_ROCKCHIP_CHARGER_MANAGER_CHARGE_PUMP=y

# Touchscreen
CONFIG_TOUCHSCREEN_GT9XX=y

# Filesystem
CONFIG_EXT4_FS=y
CONFIG_JBD2=y
CONFIG_FS_MBCACHE=y
CONFIG_FAT_FS=y
CONFIG_VFAT_FS=y
CONFIG_EXFAT_FS=y
CONFIG_NTFS3_FS=y
# CONFIG_SQUASHFS is not set

CONFIG_CRYPTO_CRC32C=y

# USB
CONFIG_USB=y
CONFIG_USB_STORAGE=y
CONFIG_USB_DWC2=y
CONFIG_USB_GADGET=y
CONFIG_USB_CONFIGFS=y
CONFIG_PHY_ROCKCHIP_INNO_USB2=y
