# touchscreen
CONFIG_TOUCHSCREEN_PARADE=y
CONFIG_TOUCHSCREEN_PARADE_DEVICETREE_SUPPORT=y
# CONFIG_TOUCHSCREEN_PARADE_DEBUG is not set
CONFIG_TOUCHSCREEN_PARADE_I2C=y
# CONFIG_TOUCHSCREEN_PARADE_SPI is not set
# CONFIG_TOUCHSCREEN_PARADE_MT_A is not set
CONFIG_TOUCHSCREEN_PARADE_MT_B=y
# CONFIG_TOUCHSCREEN_PARADE_BUTTON is not set
# CONFIG_TOUCHSCREEN_PARADE_PROXIMITY is not set
CONFIG_TOUCHSCREEN_PARADE_DEVICE_ACCESS=y
CONFIG_TOUCHSCREEN_PARADE_LOADER=y
# CONFIG_TOUCHSCREEN_PARADE_PLATFORM_FW_UPGRADE is not set
CONFIG_TOUCHSCREEN_PARADE_BINARY_FW_UPGRADE=y
# CONFIG_TOUCHSCREEN_PARADE_PLATFORM_TTCONFIG_UPGRADE is not set
CONFIG_TOUCHSCREEN_PARADE_MANUAL_TTCONFIG_UPGRADE=y
# CONFIG_TOUCHSCREEN_PARADE_DEBUG_MDL is not set

# backlight
CONFIG_BACKLIGHT_LM3630A=y

# ultra sleep
CONFIG_ROCKCHIP_LITE_ULTRA_SUSPEND=y
